// For main scss file for learg project we can modularize scss file and import it
@import "./resets";
@import "./variables";

body {
  // Access Sass Variable
  background-color: $primary-color;
  color: $text-color;
}

.main {
  width: 80%;
  margin: 0 auto;

  // Sass Nesting

  //   The & is an extremely useful feature in Sass (and Less).
  //   It’s used when nesting. It can be a nice time-saver when
  //   you know how to use it, or a bit of a time-waster when you’re
  //   struggling and could have written the same code in regular CSS.
  // & means parent name so &__paragraph === .main__paragraph but
  //   for css we use #{&}__paragraph === .main .main__paragraph
  #{&}__paragraph {
    //   Access Map key value
    font-weight: map-get($map: $fonts-weight, $key: "bold");

    // Hover With scss
    &:hover {
      cursor: pointer;
      color: pink;
    }
  }
}
